.my-center {
  display: block;
  width: 45%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.green {
  color: #7aad84;
  text-align: center;
}

.text-center {
  text-align: center;
}

.tripple-sec {
  color: #7aad84;
  text-align: center;
  padding-bottom: 40px;
}